*{
    margin: 0;
    padding: 0;
}
:root{
    font-size: 14px;
}
::-webkit-scrollbar{
    display: none;
}
nav{
    background-color: #201835;
    color: #FFF;
}
.darkBg,.featuresBox,.section3,.steps,.squaresBox,.productCard{
    background-color: #201835;
    color: white;
}
.lightBg{
    background-color: white;
    color: black;
}
nav{
    /* border: 0.01px solid rgb(85, 93, 15); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    padding: 0 10.5rem;
}
.navLinks{
    display: flex;
    gap: 4rem;
}
nav a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
}
nav .logo a{
    font-size: 2rem;
    color: white;
    font-weight: 600;
}
.container{
    padding: 5rem 10.5rem;
}
.section2{
    width: 100%;
    display: grid;
    grid-template-columns: 2.25fr 1fr 2.25fr;
    place-items: center;
    /* color: white;
    background-color: black; */
}
.section2>div h2{
    font-size: 2.25rem ;
    margin-top: 1rem;
}
.section2>div p{
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #555555;
    line-height: 1.5rem;
}
.section2 .div1{
    transform: translateX(4rem);
}
.section2 .div3{
    transform: translateX(-4rem);
}
/* .section2 img{
    
} */
/* .steps{
    
} */
.section3{
    margin:  2rem auto;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 1px solid grey; */
}
.section3>div{
    padding: 1.2rem 1.5rem;
}
.steps>div div:hover{
    /* box-shadow: inset 1px 4px 30px rgba(0, 0, 0, 0.1); */
    background: rgba(165, 165, 165, 0.2);
}
.steps h2{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 4rem;
}
.section3>div{
    font-size: 1.3rem;
    background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.section3>div p{
    margin: 0.8rem 0;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.4rem;
}
.section3 .step1{
    border: 0.001px solid rgb(185, 175, 156);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.section3 .step2{
    border: 0.001px solid rgb(185, 175, 156);
}
.section3 .step3{
    border: 0.001px solid rgb(185, 175, 156);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


.productCard{
    /* background-color: #e7e7e7; */
    /* background: linear-gradient(#201835, #221C31, #4b455b, #221C31, #201835); */
    padding: 2rem 13rem;
}

.productCard .grid3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    padding: 2rem 0rem;
}
.grid3 a{
    text-decoration: none;
    color: black;
}
.grid3 .pCard{
    background-color: white;
    border-radius: 1.5rem;
    /* border: 0.001px solid rgba(0,0,0,0.3);
    box-shadow: 3px 4px 12px rgba(0,0,0,0.2), inset  3px 4px 12px rgba(0,0,0,0.2);
    overflow: hidden;
    transition: box-shadow .3s ease,transform .3s ease,-webkit-box-shadow .3s ease,-webkit-transform .3s ease; */
}
.pCard .heading{
    padding: 2rem;
}
.pCard .heading h3{
    font-size: 2rem;
    /* padding: 0.25rem 0; */
}
.pCard .heading h4{
    font-size: 1.5rem;
    font-weight: 400;
}
.productCard .imgBox{
    display: grid;
    place-items: center;
}
.pCard .colors{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}
.pCard .colors div{
    width: 1.5rem;
    height: 1.5rem;
    /* background-color: blueviolet; */
    border-radius: 50%;
    margin: 0.3rem;
}
.ancBox{
    /* width: 95%; */
    overflow: hidden;
    display: grid;
    place-items: center;
    /* background-color: red; */
    color: black;
    position: relative;
    padding: 0;
}
.ancBox img{
    width: 100%;
    height: auto;
    /* background-color: #201835; */
}
.ancImage{
    background-color: white;
}
.ancBox h2{
    position: absolute;
    font-size: 3rem;
    top: 10rem;
}
.ancBox h4{
    position: absolute;
    font-size: 2rem;
    top: 13.5rem;
}
.squaresBox{
    padding: 6rem 13rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
}
.square{
    /* border: 0.001px solid white; */
    border-radius: 10px;
    display: grid;
    place-items: center;
    padding: 2rem 1.5rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.square:hover{
    box-shadow: 1px 4px 30px rgba(147, 147, 147, 0.5);

}
.square img{
    margin-bottom: 2rem;
}
.square h3{
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.square p{
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
}


.featuresBox{
    padding: 4rem 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 4rem;
}
.featuresBox>div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.featuresBox>div div{
    width: 25rem;
    padding: 2rem 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    font-size: 1.25rem;
}
.featuresBox>div div:hover{
    box-shadow: 1px 4px 30px rgba(147, 147, 147, 0.5);
}
.featuresBox>div img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}



.royalBlue{
    background-color: rgb(9, 9, 86);
}
.royalGreen{
    background-color: rgb(3, 50, 3);
}
.black{
    background-color: black;
}
.green{
    background-color: rgb(77, 153, 77);
}
.blogsPage{
    padding: 2rem 12rem;
}
.blogsPage>h1{
    font-size: 2rem;
}
.blogsPage>p{
    font-size: 1.25rem;
    font-weight: 500;
    color: grey;
    margin-top: 1rem;
}
.blogsBox{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
.blogsBox a{
    text-decoration: none;
    color: black;
}
.blog img{
    width: 100%;
    height: auto;
}
.blog h2{
    font-size: 1.45rem;
    text-align: center;
    text-decoration: none;
    /* color: black; */
    margin: 0.5rem 0;
}
.blogsBox a:hover{
    color: #150f7e;
    text-decoration: underline;
}
.blogPage{
    padding: 2rem 12rem;
}
.blogPage h1{
    font-size: 2.5rem;
}
.blogPage .topDesc{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(82, 82, 82);
    margin-top: 1rem;
    line-height: 2rem;
}
.blogMain{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.blogPost{
    margin-top: 3rem;
}
.blogPost h2{
    font-size: 1.75rem;
}
.blogPost .images{
    display: flex;
    justify-content: space-around;
}
.blogPost .images img{
    width: 45%;
    height: auto;
}
.blogPost p{
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(34, 34, 34);
    margin-top: 1.5rem;
    line-height: 2rem;
}
.blogPost ul{
    margin-top: 1.5rem;
    margin-left: 1rem;
    font-size: 1.1rem;
    line-height: 2.5rem;
    font-weight: 500;
}




@media screen and (max-width: 1050px){
    :root{
        font-size: 13.5px;
    }
    nav{
        padding: 0 6rem;
    }
    .blogsPage, .blogPage{padding: 1.25rem 6rem;}
    .blogMain{grid-template-columns: 2.45fr 1fr;}
}
@media screen and (max-width: 800px){
    :root{
        font-size: 11.5px;
    }
    .blogsPage, .blogPage{padding: 1.25rem 4rem;}
    .blogMain{grid-template-columns: 1fr;}
    nav{
        /* display: block; */
        padding: 0 4rem;
    }
}
@media screen and (max-width: 500px){
    :root{
        font-size: 10.5px;
    }
    nav{display: block; text-align: center;padding: 0 1rem;}
    .navLinks{justify-content: space-evenly;}
    .blogsPage, .blogPage{padding: 1rem 2rem;}
    .blogsBox{grid-template-columns: 1fr 1fr; gap: 1rem;}
    .blogsBox h2{font-size: 1.25rem;}
    .blogsPage>p, .blogPage .topDesc{font-size: 1rem; line-height: 1.5rem;}
    .blogPost p{margin-top: 1rem;}
    .blogPage h1{font-size: 2rem;}
}
@media screen and (max-width: 350px){
    :root{
        font-size: 10px;
    }
    .blogsPage, .blogPage{padding: 0.5rem 1.5rem;}
    .blogPost p{line-height: 1.75rem;}
}